skills/dify/assets/workflows/conditional-routing.yml
app:
  description: Routes user input to a coding assistant or general assistant based
    on the input type selected.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Conditional Routing Workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1718002000001-source-1718002000002-target
      source: '1718002000001'
      sourceHandle: source
      target: '1718002000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1718002000002-true-1718002000003-target
      source: '1718002000002'
      sourceHandle: 'true'
      target: '1718002000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1718002000002-false-1718002000004-target
      source: '1718002000002'
      sourceHandle: 'false'
      target: '1718002000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718002000003-source-1718002000005-target
      source: '1718002000003'
      sourceHandle: source
      target: '1718002000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718002000004-source-1718002000005-target
      source: '1718002000004'
      sourceHandle: source
      target: '1718002000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: end
      id: 1718002000005-source-1718002000006-target
      source: '1718002000005'
      sourceHandle: source
      target: '1718002000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - default: ''
          hint: ''
          label: Your input
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: user_input
        - hint: ''
          label: Input type
          options:
          - code
          - general
          placeholder: ''
          required: true
          type: select
          variable: input_type
      height: 135
      id: '1718002000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 11928117-9311-43f3-ae7c-22fd5775b09c
            value: code
            varType: string
            variable_selector:
            - '1718002000001'
            - input_type
          id: 'true'
          logical_operator: and
        selected: false
        title: Route by Input Type
        type: if-else
      height: 124
      id: '1718002000002'
      position:
        x: 379
        y: 303
      positionAbsolute:
        x: 379
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: GPT-4o
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 358621ef-acc7-43e6-a9d2-ec9da39ec2fc
          role: system
          text: You are an expert coding assistant. Provide clean, well-commented
            code solutions with explanations.
        - id: 215996a6-59f9-4bfb-889d-a5cc998262cf
          role: user
          text: '{{#1718002000001.user_input#}}'
        selected: false
        title: Coding Assistant
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1718002000003'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: GPT-4o
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 49d416aa-e90b-4e04-90a6-f13d67018370
          role: system
          text: You are a helpful, knowledgeable, and friendly general assistant.
            Provide clear, accurate, and well-structured answers.
        - id: 4fb3f488-64dd-4038-81b2-133d67186fc1
          role: user
          text: '{{#1718002000001.user_input#}}'
        selected: false
        title: General Assistant
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1718002000004'
      position:
        x: 684
        y: 409
      positionAbsolute:
        x: 684
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1718002000003'
          - text
        - - '1718002000004'
          - text
      height: 134
      id: '1718002000005'
      position:
        x: 988
        y: 340
      positionAbsolute:
        x: 988
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        outputs:
        - value_selector:
          - '1718002000005'
          - output
          value_type: string
          variable: output
        selected: false
        title: End
        type: end
      height: 88
      id: '1718002000006'
      position:
        x: 1290
        y: 340
      positionAbsolute:
        x: 1290
        y: 340
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
