skills/dify/assets/workflows/error-handling.yml
app:
  description: Demonstrates HTTP request error handling with a fail-branch that triggers
    a user-friendly LLM error message.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Error Handling Workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1718003000001-source-1718003000002-target
      source: '1718003000001'
      sourceHandle: source
      target: '1718003000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1718003000002-source-1718003000003-target
      source: '1718003000002'
      sourceHandle: source
      target: '1718003000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1718003000002-fail-branch-1718003000004-target
      source: '1718003000002'
      sourceHandle: fail-branch
      target: '1718003000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1718003000003-source-1718003000005-target
      source: '1718003000003'
      sourceHandle: source
      target: '1718003000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1718003000004-source-1718003000006-target
      source: '1718003000004'
      sourceHandle: source
      target: '1718003000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - default: ''
          hint: ''
          label: User Input
          max_length: 500
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: user_input
      height: 109
      id: '1718003000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: '{"input": "{{#1718003000001.user_input#}}"}'
          type: json
        error_strategy: fail-branch
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1080
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 600
          write: 600
        title: HTTP Request
        type: http-request
        url: https://httpbin.org/post
        variables: []
      height: 158
      id: '1718003000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          role: system
          text: You are a helpful assistant. Summarize the API response for the user.
        - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
          role: user
          text: '{{#1718003000002.body#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1718003000003'
      position:
        x: 680
        y: 182
      positionAbsolute:
        x: 680
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: c3d4e5f6-a7b8-9012-cdef-123456789012
          role: system
          text: 'You are a helpful assistant. An API call failed. Apologize briefly
            and tell the user to try again.

            '
        - id: d4e5f6a7-b8c9-0123-defa-234567890123
          role: user
          text: "The request failed. Please generate a friendly error message.\n\n\
            {{#1718003000002.error_type#}}\n\n{{#1718003000002.error_message#}}\n\n\
            {{#1718003000002.body#}}\n\n{{#1718003000002.status_code#}}"
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1718003000004'
      position:
        x: 680
        y: 432
      positionAbsolute:
        x: 680
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1718003000003'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 88
      id: '1718003000005'
      position:
        x: 980
        y: 182
      positionAbsolute:
        x: 980
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1718003000004'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output 2
        type: end
      height: 88
      id: '1718003000006'
      position:
        x: 980
        y: 432
      positionAbsolute:
        x: 980
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
