skills/dify/assets/workflows/schedule-triggered.yml
app:
  description: A workflow triggered automatically on a cron schedule. Generates a
    daily briefing using the current timestamp.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Schedule Triggered Workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-schedule
        targetType: llm
      id: 1718006000001-source-1718006000002-target
      source: '1718006000001'
      sourceHandle: source
      target: '1718006000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1718006000002-source-1718006000003-target
      source: '1718006000002'
      sourceHandle: source
      target: '1718006000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        config:
          frequency: daily
          mode: visual
          timezone: UTC
          visual_config:
            monthly_days:
            - 1
            on_minute: 0
            time: 12:00 AM
            weekdays:
            - sun
        cron_expression: 0 9 * * *
        mode: cron
        selected: false
        timezone: UTC
        title: Schedule Trigger
        type: trigger-schedule
      height: 130
      id: '1718006000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: c830e086-063b-4e60-bd29-1fdb1922ac1d
          role: system
          text: 'You are a helpful assistant that generates daily briefings.

            '
        - id: 0d11ad5f-b59d-4cc6-8551-20009d7127b4
          role: user
          text: 'Generate a short daily briefing. Current timestamp: {{#sys.timestamp#}}

            '
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1718006000002'
      position:
        x: 384
        y: 303
      positionAbsolute:
        x: 384
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1718006000002'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 88
      id: '1718006000003'
      position:
        x: 686
        y: 303
      positionAbsolute:
        x: 686
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
