skills/dify/assets/workflows/simple-llm.yml
app:
  description: "A simple workflow that takes a user question and returns an LLM-generated answer."
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: workflow
  name: "Simple LLM Workflow"
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInLoop: false
          sourceType: start
          targetType: llm
        id: "1718001000001-source-1718001000002-target"
        source: "1718001000001"
        sourceHandle: source
        target: "1718001000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: llm
          targetType: end
        id: "1718001000002-source-1718001000003-target"
        source: "1718001000002"
        sourceHandle: source
        target: "1718001000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: "Entry point — collects the user's question"
          selected: false
          title: "Start"
          type: start
          variables:
            - default: ""
              hint: ""
              label: "Your question"
              max_length: 2048
              options: []
              placeholder: ""
              required: true
              type: text-input
              variable: user_query
        height: 90
        id: "1718001000001"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Generates an answer using the configured LLM"
          memory:
            query_prompt_template: "{{#sys.query#}}"
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 50
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          prompt_template:
            - edition_type: basic
              id: "a1b2c3d4-0000-0000-0000-000000000001"
              role: system
              text: "You are a helpful assistant. Answer the user's question clearly and concisely."
            - edition_type: basic
              id: "a1b2c3d4-0000-0000-0000-000000000002"
              role: user
              text: "{{#1718001000001.user_query#}}"
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 1000
          selected: false
          structured_output: {}
          structured_output_enabled: false
          title: "LLM"
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: "1718001000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Returns the generated answer"
          outputs:
            - value_selector:
                - "1718001000002"
                - text
              value_type: string
              variable: result
          selected: false
          title: "End"
          type: end
        height: 119
        id: "1718001000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
