skills/dify/assets/workflows/webhook-triggered.yml
app:
  description: A workflow triggered by an incoming webhook payload. Parses the JSON
    body, processes it with an LLM, and returns a structured result.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Webhook Triggered Workflow
  use_icon_as_answer_icon: false
kind: app
version: 0.5.0
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1718005000001-source-1718005000002-target
      selected: false
      source: '1718005000001'
      sourceHandle: source
      target: '1718005000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1718005000002-source-1718005000003-target
      selected: false
      source: '1718005000002'
      sourceHandle: source
      target: '1718005000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1718005000003-source-1718005000004-target
      selected: false
      source: '1718005000003'
      sourceHandle: source
      target: '1718005000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Receives the incoming webhook POST body as raw_payload
        selected: false
        title: Webhook Trigger
        type: start
        variables:
        - label: Raw webhook payload (JSON string)
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: raw_payload
      height: 90
      id: '1718005000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(raw_payload: str) -> dict:\n    import json\n    try:\n  \
          \      data = json.loads(raw_payload)\n        event_type = data.get(\"\
          event\", \"unknown\")\n        sender = data.get(\"sender\", {}).get(\"\
          login\", \"unknown\") if isinstance(data.get(\"sender\"), dict) else str(data.get(\"\
          sender\", \"unknown\"))\n        summary = json.dumps(data, indent=2)[:2000]\n\
          \        return {\n            \"event_type\": event_type,\n           \
          \ \"sender\": sender,\n            \"payload_summary\": summary\n      \
          \  }\n    except Exception as e:\n        return {\n            \"event_type\"\
          : \"parse_error\",\n            \"sender\": \"unknown\",\n            \"\
          payload_summary\": f\"Failed to parse payload: {str(e)}\"\n        }\n"
        code_language: python3
        desc: Parses the JSON webhook payload and extracts key fields
        outputs:
          event_type:
            type: string
            children: null
          sender:
            type: string
            children: null
          payload_summary:
            type: string
            children: null
        selected: false
        title: Parse Webhook Payload
        type: code
        variables: []
      height: 54
      id: '1718005000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Analyzes the webhook event and produces a structured summary
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: You are an automation assistant. Analyze incoming webhook events and
            produce clear, concise summaries of what happened and what action (if
            any) should be taken.
          id: 490ccf50-f8d3-41ff-82ff-7909898372fd
        - role: user
          text: 'A webhook event was received.

            Event type: {{#1718005000002.event_type#}}

            Sender: {{#1718005000002.sender#}}

            Payload summary:

            {{#1718005000002.payload_summary#}}


            Please provide a structured summary of this event and any recommended
            actions.

            '
          id: 5371e317-b6d3-4424-8d3e-53d8c0f6e12d
        selected: false
        title: Analyze Event
        type: llm
        vision:
          enabled: false
      height: 98
      id: '1718005000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Returns the event analysis
        outputs:
        - value_selector:
          - '1718005000003'
          - text
          variable: processed_result
        selected: false
        title: End
        type: end
      height: 54
      id: '1718005000004'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
