assets/chatflows/ocr-chatflow.yml
app:
  description: "A vision-powered chatflow that accepts an uploaded image and extracts all visible text using OCR via Claude's vision capability."
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: advanced-chat
  name: "OCR Chatflow"
kind: app
version: 0.1.3
workflow:
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
    opening_statement: "Please upload an image and I will extract all the text from it."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: "1718006000001-source-1718006000002-target"
        selected: false
        source: "1718006000001"
        sourceHandle: source
        target: "1718006000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: "1718006000002-source-1718006000003-target"
        selected: false
        source: "1718006000002"
        sourceHandle: source
        target: "1718006000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: "Entry point — the user provides an image to analyze"
          selected: false
          title: "Start"
          type: start
          variables:
            - label: "Image to analyze"
              max_length: 256
              options: []
              required: false
              type: file
              variable: uploaded_file
        height: 90
        id: "1718006000001"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Uses Claude vision to perform OCR on the uploaded image"
          model:
            completion_params:
              max_tokens: 2048
              temperature: 0.1
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          prompt_template:
            - role: system
              text: "You are an expert OCR assistant. Your sole task is to extract ALL text visible in the provided image, preserving the original layout and structure as closely as possible. Output only the extracted text — no explanations, no commentary."
            - role: user
              text: "Please extract all text from this image."
          selected: false
          title: "OCR Extraction"
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - "1718006000001"
                - uploaded_file
            enabled: true
        height: 98
        id: "1718006000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          answer: "{{#1718006000002.text#}}"
          desc: "Streams the extracted text back to the user"
          selected: false
          title: "Answer"
          type: answer
        height: 54
        id: "1718006000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
