assets/chatflows/rag-chatflow.yml
app:
  description: "A RAG-powered chatflow that retrieves relevant documents from a knowledge base and provides grounded, cited answers."
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: advanced-chat
  name: "RAG Chatflow"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
    opening_statement: "Hello! Ask me anything about our knowledge base and I will find the most relevant information for you."
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: "1718008000001-source-1718008000002-target"
        selected: false
        source: "1718008000001"
        sourceHandle: source
        target: "1718008000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: knowledge-retrieval
          targetType: llm
        id: "1718008000002-source-1718008000003-target"
        selected: false
        source: "1718008000002"
        sourceHandle: source
        target: "1718008000003"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: "1718008000003-source-1718008000004-target"
        selected: false
        source: "1718008000003"
        sourceHandle: source
        target: "1718008000004"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: "Entry point — collects the user's question and exposes it as a variable"
          selected: false
          title: "Start"
          type: start
          variables:
            - label: "Your question"
              max_length: 2048
              options: []
              required: false
              type: paragraph
              variable: question
        height: 90
        id: "1718008000001"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          dataset_ids:
            - "YOUR_DATASET_ID_HERE"
          desc: "Retrieves the top-5 most relevant chunks from the knowledge base"
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.5
            top_k: 5
          query_variable_selector:
            - "1718008000001"
            - question
          retrieval_mode: semantic_search
          selected: false
          single_retrieval_config:
            model:
              completion_params:
                max_tokens: 512
                temperature: 0.1
              mode: chat
              name: claude-haiku-4-5-20251001
              provider: anthropic
          title: "Knowledge Retrieval"
          type: knowledge-retrieval
        height: 98
        id: "1718008000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: true
            variable_selector:
              - "1718008000002"
              - result
          desc: "Synthesizes retrieved context into a cited, grounded answer"
          model:
            completion_params:
              max_tokens: 2048
              temperature: 0.3
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          prompt_template:
            - role: system
              text: |
                You are a helpful assistant answering questions based on a knowledge base.

                Rules:
                - Answer ONLY based on the provided context documents.
                - Always cite the source document name or section when referencing information.
                - If the context does not contain enough information to answer, say: "I don't have sufficient information in the knowledge base to answer that question."
                - Be concise and accurate. Do not add information not found in the context.
            - role: user
              text: "{{#1718008000001.question#}}"
          selected: false
          title: "RAG Answer"
          type: llm
          vision:
            enabled: false
        height: 98
        id: "1718008000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          answer: "{{#1718008000003.text#}}"
          desc: "Streams the grounded answer to the user"
          selected: false
          title: "Answer"
          type: answer
        height: 54
        id: "1718008000004"
        position:
          x: 980
          y: 282
        positionAbsolute:
          x: 980
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
