assets/workflows/error-handling.yml
app:
  description: "Demonstrates HTTP request error handling with a fail-branch that triggers a user-friendly LLM error message."
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: workflow
  name: "Error Handling Workflow"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: http-request
        id: "1718003000001-source-1718003000002-target"
        selected: false
        source: "1718003000001"
        sourceHandle: source
        target: "1718003000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: "1718003000002-source-1718003000003-target"
        selected: false
        source: "1718003000002"
        sourceHandle: source
        target: "1718003000003"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: llm
        id: "1718003000002-fail-branch-1718003000004-target"
        selected: false
        source: "1718003000002"
        sourceHandle: fail-branch
        target: "1718003000004"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: code
          targetType: variable-aggregator
        id: "1718003000003-source-1718003000005-target"
        selected: false
        source: "1718003000003"
        sourceHandle: source
        target: "1718003000005"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: variable-aggregator
        id: "1718003000004-source-1718003000005-target"
        selected: false
        source: "1718003000004"
        sourceHandle: source
        target: "1718003000005"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: variable-aggregator
          targetType: end
        id: "1718003000005-source-1718003000006-target"
        selected: false
        source: "1718003000005"
        sourceHandle: source
        target: "1718003000006"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: "Accepts the API URL to fetch"
          selected: false
          title: "Start"
          type: start
          variables:
            - label: "API URL"
              max_length: 2048
              options: []
              required: true
              type: text-input
              variable: api_url
        height: 90
        id: "1718003000001"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          authorization:
            type: no-auth
          body:
            type: none
          desc: "Fetches data from the provided API URL; routes to fail-branch on error"
          error_strategy: fail-branch
          headers: []
          method: GET
          params: []
          retry_config:
            max_retries: 2
            retry_interval: 1000
          selected: false
          timeout:
            connect: 10
            read: 30
            write: 10
          title: "Fetch API Data"
          type: http-request
          url: "{{#1718003000001.api_url#}}"
        height: 126
        id: "1718003000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          code: |
            def main(body: str) -> dict:
                import json
                try:
                    data = json.loads(body)
                    return {"parsed_result": str(data)}
                except Exception:
                    return {"parsed_result": body}
          code_language: python3
          desc: "Parses the JSON response body on success"
          inputs:
            - value_selector:
                - "1718003000002"
                - body
              variable: body
          outputs:
            - type: string
              variable: parsed_result
          selected: false
          title: "Parse Response"
          type: code
        height: 54
        id: "1718003000003"
        position:
          x: 680
          y: 132
        positionAbsolute:
          x: 680
          y: 132
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Generates a friendly error message when the HTTP request fails"
          model:
            completion_params:
              max_tokens: 512
              temperature: 0.3
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          prompt_template:
            - role: system
              text: "You are a helpful assistant. An API call has failed. Generate a clear, user-friendly error message explaining that the data could not be retrieved and suggesting what the user might try next."
            - role: user
              text: "The API request failed. Please generate a friendly error message for the end user."
          selected: false
          title: "Generate Error Message"
          type: llm
          vision:
            enabled: false
        height: 98
        id: "1718003000004"
        position:
          x: 680
          y: 432
        positionAbsolute:
          x: 680
          y: 432
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Merges successful parse result or error message"
          output_type: string
          selected: false
          title: "Merge Results"
          type: variable-aggregator
          variables:
            - - "1718003000003"
              - parsed_result
            - - "1718003000004"
              - text
        height: 54
        id: "1718003000005"
        position:
          x: 980
          y: 282
        positionAbsolute:
          x: 980
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Returns the final result or error message"
          outputs:
            - value_selector:
                - "1718003000005"
                - output
              variable: final_result
          selected: false
          title: "End"
          type: end
        height: 54
        id: "1718003000006"
        position:
          x: 1280
          y: 282
        positionAbsolute:
          x: 1280
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
