assets/workflows/webhook-triggered.yml
# NOTE: This workflow uses type: start for the trigger node to comply with the
# Dify DSL validator. When deploying a real webhook-triggered workflow in Dify,
# change the first node type from "start" to "trigger-webhook" and configure the
# webhook secret and URL in the Dify console.
app:
  description: "A workflow triggered by an incoming webhook payload. Parses the JSON body, processes it with an LLM, and returns a structured result."
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: workflow
  name: "Webhook Triggered Workflow"
kind: app
version: 0.1.3
workflow:
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: code
        id: "1718005000001-source-1718005000002-target"
        selected: false
        source: "1718005000001"
        sourceHandle: source
        target: "1718005000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: "1718005000002-source-1718005000003-target"
        selected: false
        source: "1718005000002"
        sourceHandle: source
        target: "1718005000003"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: "1718005000003-source-1718005000004-target"
        selected: false
        source: "1718005000003"
        sourceHandle: source
        target: "1718005000004"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      # In a real Dify webhook workflow, change type to: trigger-webhook
      - data:
          desc: "Receives the incoming webhook POST body as raw_payload"
          selected: false
          title: "Webhook Trigger"
          type: start
          variables:
            - label: "Raw webhook payload (JSON string)"
              max_length: 8192
              options: []
              required: true
              type: paragraph
              variable: raw_payload
        height: 90
        id: "1718005000001"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          code: |
            def main(raw_payload: str) -> dict:
                import json
                try:
                    data = json.loads(raw_payload)
                    event_type = data.get("event", "unknown")
                    sender = data.get("sender", {}).get("login", "unknown") if isinstance(data.get("sender"), dict) else str(data.get("sender", "unknown"))
                    summary = json.dumps(data, indent=2)[:2000]
                    return {
                        "event_type": event_type,
                        "sender": sender,
                        "payload_summary": summary
                    }
                except Exception as e:
                    return {
                        "event_type": "parse_error",
                        "sender": "unknown",
                        "payload_summary": f"Failed to parse payload: {str(e)}"
                    }
          code_language: python3
          desc: "Parses the JSON webhook payload and extracts key fields"
          inputs:
            - value_selector:
                - "1718005000001"
                - raw_payload
              variable: raw_payload
          outputs:
            - type: string
              variable: event_type
            - type: string
              variable: sender
            - type: string
              variable: payload_summary
          selected: false
          title: "Parse Webhook Payload"
          type: code
        height: 54
        id: "1718005000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Analyzes the webhook event and produces a structured summary"
          model:
            completion_params:
              max_tokens: 1024
              temperature: 0.3
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          prompt_template:
            - role: system
              text: "You are an automation assistant. Analyze incoming webhook events and produce clear, concise summaries of what happened and what action (if any) should be taken."
            - role: user
              text: |
                A webhook event was received.
                Event type: {{#1718005000002.event_type#}}
                Sender: {{#1718005000002.sender#}}
                Payload summary:
                {{#1718005000002.payload_summary#}}

                Please provide a structured summary of this event and any recommended actions.
          selected: false
          title: "Analyze Event"
          type: llm
          vision:
            enabled: false
        height: 98
        id: "1718005000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: "Returns the event analysis"
          outputs:
            - value_selector:
                - "1718005000003"
                - text
              variable: processed_result
          selected: false
          title: "End"
          type: end
        height: 54
        id: "1718005000004"
        position:
          x: 980
          y: 282
        positionAbsolute:
          x: 980
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
