skills/dify/assets/templates/starter-workflow.yml
# =============================================================================
# DIFY WORKFLOW STARTER TEMPLATE
# =============================================================================
# Instructions:
#   1. Replace every "# TODO:" comment with your actual values.
#   2. Rename node IDs if you add more nodes (keep them unique strings).
#   3. Run: .venv/Scripts/python skills/dify/scripts/validate_workflow.py skills/dify/assets/templates/starter-workflow.yml
# =============================================================================
app:
  description: "# TODO: Replace with a description of what your workflow does."
  icon: "🤖"
  icon_background: "#FFEAD5"        # TODO: Replace with your preferred hex color
  mode: workflow                     # REQUIRED — do not change for workflows
  name: "# REPLACE: Your Workflow Name"
  use_icon_as_answer_icon: false
dependencies:                          # Add one entry per marketplace plugin used by LLM/tool nodes
- current_identifier: null           # TODO: Replace with the real plugin entry from a Dify export
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []         # REQUIRED even if empty — do not remove this key
  environment_variables: []          # TODO: Add env var entries here for any API keys or secrets
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
        - .SVG
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false                 # TODO: Set true if your workflow accepts file uploads
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: ""
    retriever_resource:
      enabled: false                 # TODO: Set true if this workflow uses a knowledge-retrieval node
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      # Edge 1: Start → LLM
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start          # TODO: Match the type string of the source node
          targetType: llm            # TODO: Match the type string of the target node
        id: "1718009000001-source-1718009000002-target"
        source: "1718009000001"
        sourceHandle: source
        target: "1718009000002"
        targetHandle: target
        type: custom
        zIndex: 0
      # Edge 2: LLM → End
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
        id: "1718009000002-source-1718009000003-target"
        source: "1718009000002"
        sourceHandle: source
        target: "1718009000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      # -----------------------------------------------------------------
      # NODE 1: Start
      # Defines what inputs the workflow accepts.
      # -----------------------------------------------------------------
      - data:
          selected: false
          title: "Start"             # TODO: Rename if desired
          type: start
          variables:
            # TODO: Define your input variables here.
            # type options: text-input | paragraph | select | number | file | file-list
            - default: ""
              hint: ""
              label: "User Query"
              max_length: 2048
              options: []            # TODO: Fill if type is "select"
              placeholder: ""
              required: true
              type: paragraph        # paragraph for multi-line input; text-input for single-line
              variable: user_query   # TODO: Rename to match your domain
        height: 111
        id: "1718009000001"          # TODO: Must be unique — use 13-digit Unix ms timestamp
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243

      # -----------------------------------------------------------------
      # NODE 2: LLM
      # Calls an AI model with a prompt.
      # -----------------------------------------------------------------
      - data:
          context:
            enabled: false           # TODO: Set true and configure variable_selector if using RAG
            variable_selector: []
          model:
            completion_params:
              temperature: 0.7       # TODO: Lower for factual tasks, higher for creative
            mode: chat
            name: GPT-4o             # TODO: Replace with your deployed model name
            provider: langgenius/openai_api_compatible/openai_api_compatible
          prompt_template:
            - id: "00000000-0000-0000-0000-000000000001"  # TODO: Replace with a real UUIDv4
              role: system
              text: "You are a helpful assistant."        # TODO: Write your system prompt
            - id: "00000000-0000-0000-0000-000000000002"  # TODO: Replace with a real UUIDv4
              role: user
              text: "{{#1718009000001.user_query#}}"      # TODO: Update variable reference
          selected: false
          title: "LLM"               # TODO: Give this node a descriptive name
          type: llm
          vision:
            enabled: false           # TODO: Set true if accepting image inputs
        height: 90
        id: "1718009000002"
        position:
          x: 383
          y: 282
        positionAbsolute:
          x: 383
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243

      # -----------------------------------------------------------------
      # NODE 3: End
      # Defines what the workflow returns as its result.
      # REQUIRED for workflows — do not replace with "answer" node.
      # -----------------------------------------------------------------
      - data:
          outputs:
            - value_selector:
                - "1718009000002"    # TODO: Must match the ID of the node producing the output
                - text               # TODO: "text" for LLM output; adjust for other node types
              value_type: string     # TODO: string | number | object | array[string] | array[object]
              variable: result       # TODO: Key name in the API response JSON
          selected: false
          title: "End"
          type: end                  # REQUIRED for workflows — do not change to "answer"
        height: 90
        id: "1718009000003"
        position:
          x: 686
          y: 282
        positionAbsolute:
          x: 686
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
