assets/templates/starter-chatflow.yml
# =============================================================================
# DIFY CHATFLOW STARTER TEMPLATE
# =============================================================================
# Instructions:
#   1. Replace every "# TODO:" comment with your actual values.
#   2. mode must be "advanced-chat" for chatflows.
#   3. Terminal node must be "answer" (not "end") for chatflows.
#   4. Run: python scripts/validate_workflow.py assets/templates/starter-chatflow.yml
# =============================================================================
app:
  description: "# TODO: Replace with a description of what your chatflow does."
  icon: "🤖"
  icon_background: "#FFEAD5"        # TODO: Replace with your preferred hex color
  mode: advanced-chat               # REQUIRED for chatflows — do not change
  name: "# REPLACE: Your Chatflow Name"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
dependencies: []                    # TODO: Add marketplace plugin IDs here if any tool nodes use plugins
workflow:
  conversation_variables: []        # TODO: Add conversation variable entries here if tracking state across turns
  environment_variables: []         # TODO: Add env var entries here for any API keys or secrets
  features:
    # ----- File upload -----
    file_upload:
      enabled: false                # TODO: Set true if users can upload files
      image:
        enabled: false              # TODO: Set true to allow image uploads
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
    # ----- Chat interface features -----
    opening_statement: ""           # TODO: Add a greeting shown to users on first open
    retriever_resource:
      enabled: false                # TODO: Set true to show retrieval citations in the UI
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []         # TODO: Add up to 3 suggested starter questions
    suggested_questions_after_answer:
      enabled: false                # TODO: Set true to show auto-suggested follow-ups
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      # Edge 1: Start → LLM
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: "1718010000001-source-1718010000002-target"
        selected: false
        source: "1718010000001"
        sourceHandle: source
        target: "1718010000002"
        targetHandle: target
        type: custom
        zIndex: 0
      # Edge 2: LLM → Answer
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: "1718010000002-source-1718010000003-target"
        selected: false
        source: "1718010000002"
        sourceHandle: source
        target: "1718010000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      # -----------------------------------------------------------------
      # NODE 1: Start
      # In advanced-chat mode, the user's chat message is available as
      # sys.query. Add optional variables for any extra inputs.
      # -----------------------------------------------------------------
      - data:
          desc: ""
          selected: false
          title: "Start"
          type: start
          variables: []             # TODO: Add any extra input variables (e.g. language selector)
        height: 54
        id: "1718010000001"         # TODO: Must be unique within this file
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # -----------------------------------------------------------------
      # NODE 2: LLM
      # -----------------------------------------------------------------
      - data:
          context:
            enabled: false          # TODO: Set true and configure if using a knowledge base
            variable_selector: []
          desc: ""
          model:
            completion_params:
              max_tokens: 2048      # TODO: Adjust for your use case
              temperature: 0.7      # TODO: Lower for factual tasks, higher for creative
            mode: chat
            name: claude-sonnet-4-6  # TODO: Replace with desired model
            provider: anthropic      # TODO: Replace with your provider
          prompt_template:
            - role: system
              text: "You are a helpful assistant."  # TODO: Write your system prompt
            - role: user
              # For chatflows, the user's message comes in as sys.query.
              # Use a literal placeholder here — do NOT put {{#sys.query#}} in a string
              # template (the validator would flag "sys" as an unknown node ID).
              text: "Please respond to the user's message."
          selected: false
          title: "LLM"              # TODO: Give this node a descriptive name
          type: llm
          vision:
            enabled: false          # TODO: Set true if accepting image inputs
        height: 98
        id: "1718010000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # -----------------------------------------------------------------
      # NODE 3: Answer
      # The answer node streams the response back to the user.
      # In chatflows, this replaces the "end" node used in workflows.
      # -----------------------------------------------------------------
      - data:
          answer: "{{#1718010000002.text#}}"  # TODO: Update node ID reference to match your LLM node ID
          desc: ""
          selected: false
          title: "Answer"
          type: answer              # REQUIRED for chatflows — do not change to "end"
        height: 107
        id: "1718010000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
