assets/templates/starter-workflow.yml
# =============================================================================
# DIFY WORKFLOW STARTER TEMPLATE
# =============================================================================
# Instructions:
#   1. Replace every "# TODO:" comment with your actual values.
#   2. Rename node IDs if you add more nodes (keep them unique strings).
#   3. Run: python scripts/validate_workflow.py assets/templates/starter-workflow.yml
# =============================================================================
app:
  description: "# TODO: Replace with a description of what your workflow does."
  icon: "🤖"
  icon_background: "#FFEAD5"   # TODO: Replace with your preferred hex color
  mode: workflow                # Options: workflow | advanced-chat
  name: "# REPLACE: Your Workflow Name"
kind: app
version: 0.1.3
workflow:
  graph:
    edges:
      # Edge 1: Start → LLM
      - data:
          isInIteration: false
          sourceType: start     # TODO: Match the type of the source node
          targetType: llm       # TODO: Match the type of the target node
        id: "1718009000001-source-1718009000002-target"
        selected: false
        source: "1718009000001"
        sourceHandle: source
        target: "1718009000002"
        targetHandle: target
        type: custom
        zIndex: 0
      # Edge 2: LLM → End
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: "1718009000002-source-1718009000003-target"
        selected: false
        source: "1718009000002"
        sourceHandle: source
        target: "1718009000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      # -----------------------------------------------------------------
      # NODE 1: Start
      # The start node defines what inputs your workflow accepts.
      # -----------------------------------------------------------------
      - data:
          desc: ""              # TODO: Add a short description of this node
          selected: false
          title: "Start"        # TODO: Rename if desired
          type: start
          variables:
            # TODO: Define your input variables here.
            # type options: text-input | paragraph | select | number | file | file-list
            - label: "User Query"
              max_length: 2048
              options: []       # TODO: Fill if type is "select"
              required: true
              type: text-input
              variable: user_query   # TODO: Rename to match your domain
        height: 90
        id: "1718009000001"    # TODO: Must be unique within this file
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # -----------------------------------------------------------------
      # NODE 2: LLM
      # The LLM node calls an AI model with a prompt.
      # -----------------------------------------------------------------
      - data:
          context:
            enabled: false      # TODO: Set true and configure variable_selector if using RAG
            variable_selector: []
          desc: ""
          model:
            completion_params:
              max_tokens: 2048  # TODO: Adjust for your use case
              temperature: 0.7  # TODO: Lower for factual tasks, higher for creative
            mode: chat
            name: claude-sonnet-4-6   # TODO: Replace with desired model
            provider: anthropic       # TODO: Replace with your provider
          prompt_template:
            - role: system
              text: "You are a helpful assistant."  # TODO: Write your system prompt
            - role: user
              # TODO: Update variable reference to match your start node variable and its ID
              text: "{{#1718009000001.user_query#}}"
          selected: false
          title: "LLM"          # TODO: Give this node a descriptive name
          type: llm
          vision:
            enabled: false      # TODO: Set true if accepting image inputs
        height: 98
        id: "1718009000002"
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      # -----------------------------------------------------------------
      # NODE 3: End
      # The end node defines what the workflow returns as its result.
      # -----------------------------------------------------------------
      - data:
          desc: ""
          outputs:
            # TODO: Adjust value_selector to point to the correct node ID and output field
            - value_selector:
                - "1718009000002"   # TODO: Must match the ID of the node producing the output
                - text              # TODO: "text" for LLM output; adjust for other node types
              variable: result      # TODO: Rename to match your output semantics
          selected: false
          title: "End"
          type: end
        height: 54
        id: "1718009000003"
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
