skills/dify/assets/chatflows/agent-chatflow.yml
app:
  description: A research agent chatflow combining knowledge retrieval with an agent
    node (function-calling strategy, 5 iterations) and built-in tools — web scraper,
    Wikipedia search, and current time — to investigate any topic and deliver structured,
    markdown-formatted answers.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Agent Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1779773247200-source-answer-target
      source: '1779773247200'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1779773042115-source-1779773834885-target
      source: '1779773042115'
      sourceHandle: source
      target: '1779773834885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1779773834885-source-1779773247200-target
      source: '1779773834885'
      sourceHandle: source
      target: '1779773247200'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 75
      id: '1779773042115'
      position:
        x: 80
        y: 261
      positionAbsolute:
        x: 80
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - YOUR_DATASET_ID_HERE
        metadata_filtering_mode: disabled
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-small
              embedding_provider_name: openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1779773042115'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 92
      id: '1779773834885'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1779773834885'
            - result
          instruction:
            type: constant
            value: 'You are an expert research agent. When given a question:

              1. Search for relevant, up-to-date information using your tools

              2. Cross-reference multiple sources where possible

              3. Synthesize findings into a clear, structured answer

              4. Use markdown headings and bullet points for readability

              5. Be honest if information is uncertain or unavailable


              Always search before answering — do not rely solely on prior knowledge.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: Claude-4-Sonnet
              model_type: llm
              provider: langgenius/openai_api_compatible/openai_api_compatible
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: A tool for scraping webpages.
              parameters:
                url:
                  auto: 1
                  value: null
              provider_name: webscraper
              provider_show_name: webscraper
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: used for linking to webpages
                  ja_JP: used for linking to webpages
                  pt_BR: used for linking to webpages
                  zh_Hans: 用于链接到网页
                label:
                  en_US: URL
                  ja_JP: URL
                  pt_BR: URL
                  zh_Hans: 网页链接
                llm_description: url for scraping
                max: null
                min: null
                name: url
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
                  (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
                form: form
                human_description:
                  en_US: used for identifying the browser.
                  ja_JP: used for identifying the browser.
                  pt_BR: used for identifying the browser.
                  zh_Hans: 用于识别浏览器。
                label:
                  en_US: User Agent
                  ja_JP: User Agent
                  pt_BR: User Agent
                  zh_Hans: User Agent
                llm_description: null
                max: null
                min: null
                name: user_agent
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: 'false'
                form: form
                human_description:
                  en_US: If true, the crawler will only return the page summary content.
                  ja_JP: If true, the crawler will only return the page summary content.
                  pt_BR: If true, the crawler will only return the page summary content.
                  zh_Hans: 如果启用，爬虫将仅返回页面摘要内容。
                label:
                  en_US: Whether to generate summary
                  ja_JP: Whether to generate summary
                  pt_BR: Whether to generate summary
                  zh_Hans: 是否生成摘要
                llm_description: null
                max: null
                min: null
                name: generate_summary
                options:
                - icon: null
                  label:
                    en_US: 'Yes'
                    ja_JP: 'Yes'
                    pt_BR: 'Yes'
                    zh_Hans: 是
                  value: 'true'
                - icon: null
                  label:
                    en_US: 'No'
                    ja_JP: 'No'
                    pt_BR: 'No'
                    zh_Hans: 否
                  value: 'false'
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: boolean
              settings:
                generate_summary:
                  value:
                    type: constant
                    value: 'false'
                user_agent:
                  value:
                    type: mixed
                    value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
                      (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
              tool_description: A tool for scraping webpages.
              tool_label: Web Scraper
              tool_name: webscraper
              type: builtin
            - enabled: true
              extra:
                description: A tool for getting the current time.
              parameters: {}
              provider_name: time
              provider_show_name: time
              schemas:
              - auto_generate: null
                default: '%Y-%m-%d %H:%M:%S'
                form: form
                human_description:
                  en_US: Time format in strftime standard.
                  ja_JP: Time format in strftime standard.
                  pt_BR: Time format in strftime standard.
                  zh_Hans: strftime 标准的时间格式。
                label:
                  en_US: Format
                  ja_JP: Format
                  pt_BR: Format
                  zh_Hans: 格式
                llm_description: null
                max: null
                min: null
                name: format
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: UTC
                form: form
                human_description:
                  en_US: Timezone
                  ja_JP: Timezone
                  pt_BR: Timezone
                  zh_Hans: 时区
                label:
                  en_US: Timezone
                  ja_JP: Timezone
                  pt_BR: Timezone
                  zh_Hans: 时区
                llm_description: null
                max: null
                min: null
                name: timezone
                options:
                - icon: null
                  label:
                    en_US: UTC
                    ja_JP: UTC
                    pt_BR: UTC
                    zh_Hans: UTC
                  value: UTC
                - icon: null
                  label:
                    en_US: Asia/Tokyo
                    ja_JP: Asia/Tokyo
                    pt_BR: Asia/Tokyo
                    zh_Hans: 亚洲/东京
                  value: Asia/Tokyo
                - icon: null
                  label:
                    en_US: America/New_York
                    ja_JP: America/New_York
                    pt_BR: America/New_York
                    zh_Hans: 美洲/纽约
                  value: America/New_York
                - icon: null
                  label:
                    en_US: Europe/London
                    ja_JP: Europe/London
                    pt_BR: Europe/London
                    zh_Hans: 欧洲/伦敦
                  value: Europe/London
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: select
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: A tool for getting the current time.
              tool_label: Current Time
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: A tool for performing a Wikipedia search and extracting
                  snippets and webpages.
              parameters:
                language:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
              provider_name: langgenius/wikipedia/wikipedia
              provider_show_name: langgenius/wikipedia/wikipedia
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: key words for searching
                  ja_JP: key words for searching
                  pt_BR: key words for searching
                  zh_Hans: 查询关键词
                label:
                  en_US: Query string
                  ja_JP: Query string
                  pt_BR: Query string
                  zh_Hans: 查询语句
                llm_description: key words for searching, this should be in the language
                  of "language" parameter
                max: null
                min: null
                name: query
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: The language of the Wikipedia to be searched
                  ja_JP: The language of the Wikipedia to be searched
                  pt_BR: The language of the Wikipedia to be searched
                  zh_Hans: 要搜索的维基百科语言
                label:
                  en_US: Language
                  ja_JP: Language
                  pt_BR: Language
                  zh_Hans: 语言
                llm_description: language of the wikipedia to be searched, only "de"
                  for German, "en" for English, "fr" for French, "hi" for Hindi, "ja"
                  for Japanese, "ko" for Korean, "pl" for Polish, "pt" for Portuguese,
                  "ro" for Romanian, "uk" for Ukrainian, "vi" for Vietnamese, and
                  "zh" for Chinese are supported
                max: null
                min: null
                name: language
                options:
                - icon: ''
                  label:
                    en_US: English
                    ja_JP: English
                    pt_BR: English
                    zh_Hans: 英语
                  value: en
                - icon: ''
                  label:
                    en_US: Japanese
                    ja_JP: Japanese
                    pt_BR: Japanese
                    zh_Hans: 日语
                  value: ja
                - icon: ''
                  label:
                    en_US: Chinese
                    ja_JP: Chinese
                    pt_BR: Chinese
                    zh_Hans: 中文
                  value: zh
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: A tool for performing a Wikipedia search and extracting
                snippets and webpages.
              tool_label: WikipediaSearch
              tool_name: wikipedia_search
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.37@a5dcc6ea00bca23439b49ff7d65704f3f5dd6ce2ca353205e62278e2148d84b6
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 190
      id: '1779773247200'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779773247200.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
