skills/dify/assets/chatflows/ocr-chatflow.yml
app:
  description: A vision-powered chatflow that accepts an uploaded image and extracts
    all visible text using OCR via Claude's vision capability.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: OCR Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1779776219444-llm
      source: '1779776219444'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: llm-source-1779776382581-target
      source: llm
      sourceHandle: source
      target: '1779776382581'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1779776382581-source-answer-target
      source: '1779776382581'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 75
      id: '1779776219444'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 46ca23d5-e7ad-4802-b5b4-a3f1e9e31fac
          role: system
          text: You are an expert OCR assistant. Your sole task is to extract ALL
            text visible in the provided image, preserving the original layout and
            structure as closely as possible. Output only the extracted text — no
            explanations, no commentary.
        - id: 5eed34c4-8468-425d-85e6-ee8dd0d2e07e
          role: user
          text: Please extract all text from this image.
        selected: false
        title: OCR Extraction
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 90
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        selected: false
        template: "<div style=\"font-family:system-ui,sans-serif; padding:16px; border-radius:8px;\
          \ background:#f8fafc; border:1px solid #e2e8f0;\">\r\n  <div style=\"display:flex;\
          \ align-items:center; gap:8px; margin-bottom:12px; padding-bottom:10px;\
          \ border-bottom:1px solid #e2e8f0;\">\r\n    <span style=\"font-size:16px;\"\
          >\U0001F4C4</span>\r\n    <strong style=\"color:#0f172a; font-size:14px;\"\
          >Extracted Text</strong>\r\n  </div>\r\n  <div style=\"font-size:13px; color:#334155;\
          \ line-height:1.7; white-space:pre-wrap; font-family:'Courier New',monospace;\"\
          >{{ extracted_text }}</div>\r\n</div>"
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: extracted_text
      height: 54
      id: '1779776382581'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
