skills/dify/assets/chatflows/rag-chatflow.yml
app:
  description: A RAG-powered chatflow that retrieves relevant documents from a knowledge
    base using semantic search and generates grounded, cited answers — refusing to
    speculate beyond what the indexed documents contain.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: RAG Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.51@20a0511b3ac00ad81524ff7479b9f5e8bbd456e0590d4931b41c8dd82bee7192
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 5
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1779777698227-source-1779777711145-target
      source: '1779777698227'
      sourceHandle: source
      target: '1779777711145'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1779777711145-source-1779777724841-target
      source: '1779777711145'
      sourceHandle: source
      target: '1779777724841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1779777724841-source-1779777920745-target
      source: '1779777724841'
      sourceHandle: source
      target: '1779777920745'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1779777920745-source-answer-target
      source: '1779777920745'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 75
      id: '1779777698227'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - YOUR_DATASET_ID_HERE
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: YOUR_EMBEDDING_MODEL_HERE
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1779777698227'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 92
      id: '1779777711145'
      position:
        x: 376
        y: 303
      positionAbsolute:
        x: 376
        y: 303
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1779777711145'
          - result
        memory:
          query_prompt_template: "{{#sys.query#}}\n\n{{#sys.files#}}"
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: Claude-4-Sonnet
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: b83728cb-9839-45ac-a957-8c8da214b54d
          role: system
          text: 'You are a helpful assistant that answers questions strictly based
            on the provided knowledge base context.


            Rules:

            - Answer ONLY based on the context documents provided. Do not use outside
            knowledge.

            - Always cite the source document name or section when referencing information.

            - If the context does not contain enough information to answer, respond
            with: "I don''t have sufficient information in the knowledge base to answer
            that question."

            - Be concise and accurate. Do not add information not found in the context.'
        - id: 9712b40e-66e9-45a2-aac4-d461eebd33f0
          role: user
          text: '{{#context#}}'
        selected: false
        title: RAG Answer
        type: llm
        vision:
          enabled: false
      height: 90
      id: '1779777724841'
      position:
        x: 679
        y: 303
      positionAbsolute:
        x: 679
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        selected: false
        template: '{{ answer_text }}'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1779777724841'
          - text
          value_type: string
          variable: answer_text
      height: 54
      id: '1779777920745'
      position:
        x: 1016
        y: 303
      positionAbsolute:
        x: 1016
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779777920745.output#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 1318
        y: 303
      positionAbsolute:
        x: 1318
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
